In [2]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\johna\anaconda3\lib\site-packages (5.0.1)Note: you may need to restart the kernel to use updated packages.

In [4]:
# Importando biblioteca pyodbc:

import pyodbc

# criando dados de conexão:
dados_conexao = (
    "Driver={SQL Server};"
    "Server=LENOVO-JWNS;"
    "Database=PythonSQL;"
)

# Conectando:

conexao = pyodbc.connect(dados_conexao)
print("Conexão Bem Sucedida")

Conexão Bem Sucedida

In [5]:
# incluindo registro id = 2

cursor = conexao.cursor()

comando = """INSERT INTO Vendas(id_venda, data_venda, cliente, produto, preco, quantidade) VALUES
	(2, '10/05/2022', 'Bruno', 'Notebook', 3500, 2)"""

cursor.execute(comando)

cursor.commit()

In [6]:
# incluindo registro id = 3

cursor = conexao.cursor()

comando = """INSERT INTO Vendas(id_venda, data_venda, cliente, produto, preco, quantidade) VALUES
	(3, '13/05/2022', 'Carla', 'Tablet', 1200, 1)"""

cursor.execute(comando)

cursor.commit()

In [8]:
# incluindo demais registros

cursor = conexao.cursor()

id = 5
data = "17/06/2022"
cliente = "Erika"
produto = "Celular"
preco = 1500
quantidade = 1

comando = f"""INSERT INTO Vendas(id_venda, data_venda, cliente, produto, preco, quantidade) VALUES
	({id}, '{data}', '{cliente}', '{produto}', {preco}, {quantidade})"""

cursor.execute(comando)

cursor.commit()